.DS_Store
.idea
*.tar.gz
*.log

bitrix/backup
bitrix/cache
bitrix/managed_cache
bitrix/stack_cache
bitrix/php_interface/dbconn.php
bitrix/.settings.php
bitrix/themes

upload
nbproject

.htaccess.restore
.htaccess

node_modules
materials
app/bower_components
app/sass-cache
.sass-cache
.twig-temp