<div class="page-hero" id="page-hero">
    <div class="page-hero__bg-video">
        <div class="page-hero__video-overlay"></div>
        <video autoplay="" loop="" muted="" id="bgvideo" class="page-hero__video">
            <source src="images/video1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="page-hero__inner container">
        <div class="page-hero__title">
            <h1 class="page-title">
                КОМПЛЕКС <br/> АПАРТАМЕНТОВ
            </h1>
            <p class="page-hero__subtitle">Cовременные традиции современного жилья</p>
            <div class="page-hero__choice-btn">
                <a href="#apartments" class="btn btn--second btn--anchor btn--large js-scrollScreen">
                    <i class="btn--anchor-img"></i>
                    выбрать квартиру
                </a>
            </div>
        </div>
        <div class="page-hero__info">
            <div class="page-hero__info-inner">
                <div class="page-hero__info-block">
                    <p class="page-hero__info-title">от 3.8 млн руб.</p>
                    <p class="page-hero__info-subtitle">апартаменты</p>
                </div>
                <div class="page-hero__info-block">
                    <p class="page-hero__info-title">20 мин</p>
                    <p class="page-hero__info-subtitle">до центра Москвы</p>
                </div>
                <div class="page-hero__info-block">
                    <p class="page-hero__info-title">2018 год</p>
                    <p class="page-hero__info-subtitle">сдача</p>
                </div>
                <div class="page-hero__info-btns">
                    <a href="#" class="btn btn--primary btn--figure">бизнес-класс</a>
                    <a href="#" class="btn btn--third btn--figure">отделка</a>
                </div>
            </div>
        </div>
    </div>
</div>
