<div class="fixed-navbar is-hidden" id="fixed-navbar">
    <div class="fixed-navbar__inner">
        <a href="/" class="fixed-navbar__logo"></a>
        <div class="fixed-navbar__nav">
            <div class="fixed-navbar__nav-list">
                <a href="#about" class="fixed-navbar__nav-link js-scrollScreen">О проекте</a>
                <a href="#gallery" class="fixed-navbar__nav-link js-scrollScreen">Галерея</a>
                <a href="#credit"class="fixed-navbar__nav-link js-scrollScreen">Акция</a>
                <a href="#investors" class="fixed-navbar__nav-link js-scrollScreen">Инвесторам</a>
                <a href="#banks"  class="fixed-navbar__nav-link js-scrollScreen">Как купить</a>
                <a href="#location" class="fixed-navbar__nav-link js-scrollScreen">Расположение</a>
            </div>
        </div>
        <div class="fixed-navbar__callback">
            {% include "../../components/phone-callback/phone-callback.twig" with {"classes": "fixed-navbar__phone-callback"} %}
            <span class="btn btn--primary btn--medium fixed-navbar__callback-btn js-callback-toggle">заказать звонок</span>
        </div>
    </div>
</div>
