<div class="price-card">
    <p class="price-card__title">{{ rooms }}</p>
    <p class="price-card__txt">комната</p>
    <p class="price-card__area">{{ area }}</p>
    <p class="price-card__txt price-card__price">{{ price }}</p>
    <a href="#" class="btn btn--primary btn--large price-card__btn">узнать подробнее</a>
</div>