<div class="news-item">
    <a href="#" target="_blank" rel="noopener" class="news-item__link"></a>
    <div class="news-item__img">
        <img src="{{ img }}" alt="">
    </div>
    <div class="news-item__caption">
        <p class="news-item__date">{{ date }}</p>
        <p class="news-item__title">{{ title }}</p>
    </div>
</div>