<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pageTitle %}{% endblock %}</title>

    <!-- Stylesheets -->
    <link rel="apple-touch-icon" href="images/favicon/favicon-128x128.png" sizes="128x128">
    <link rel="apple-touch-icon" href="images/favicon/favicon-64x64.png" sizes="64x64">
    <link rel="apple-touch-icon" href="images/favicon/favicon-48x48.png" sizes="48x48">
    <link rel="apple-touch-icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon/favicon-128x128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="images/favicon/favicon-64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="images/favicon/favicon-48x48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% include "stylesheets.twig" %}
</head>
<body>
<div class="site-wrapper" id="site-wrapper">
    <!-- Header block -->
    {% include "header.twig" %}
    <!-- Header block end -->

    <!-- Block content -->
    {% block content %}{% endblock %}
    <!-- Block content end -->

    <!-- Footer block -->
    {% include "footer.twig" %}
    <!-- Footer block end -->

    <!-- Scripts -->

</div>
{% include "scripts.twig" %}
</body>
</html>
