<footer class="page-footer">
    <div class="page-footer__inner">
        <div class="page-footer__text">
            <p>
                Проектная декларация ЖК Sky Skolkovo  на сайте sky-skolkovo.ru. Фирменное наименование застройщика: ООО «Строй-Профиль М».
            </p>
            <p>Ипотеку предоставляют банки: ПАО «Сбербанк», ПАО АКБ «Абсолют Банк», АО «КБ ДельтаКредит», ПАО «БАНК УРАЛСИБ», ПАО «Совкомбанк», ПАО ТКБ БАНК, АО «Тинькофф Банк», АО «СМП Банк».</p>
        </div>
    </div>
</footer>
